// Variable Overrides
$theme-colors: ( "primary": #747474);
$body-bg: #40404F;
$body-color: white;
$dark: rgba(0, 0, 0, 0.28);

.navbar {
    background-color: $dark;
}

.page-footer {
    background-color: $dark;
}

.jumbotron {
    color: black;
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.footer-copyright {
    background-color: rgba(198, 198, 198, 0.92);
}

.pnlNameDesc {
    display: flex;
    flex-direction: column;
}

.pnlPriceBtn {
    display: flex;
    flex-direction: column;
}

.Logo{
    width: 60px;
    margin: auto;
    margin-bottom: 10px;
}

.FormBox{
    background-color: $dark;
    border-radius: 3px;
    border: 2px solid black;
    padding:5px;
}

.bordered {
    border-radius: 3px;
    border: 2px solid black;
    padding: 5px;
}

.field{
    padding: 10px;
}

.linkActive{
    color: $dark;;
}

.linkInAtive{
    color:white;
}

.middle{
    margin-left: auto;
    margin-right: auto;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";